<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="config/config.properties">
  </properties>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL" />
  </settings>
  <typeAliases> <!-- 0208 5교시-1 -->
  	<typeAlias alias="NoticeVO" type="com.yedam.notice.vo.NoticeVO" />
  </typeAliases>    
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="com.yedam.notice.mapper.NoticeMapper"/> <!-- 0208 5교시-1 -->
  </mappers>
</configuration>