<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.notice.mapper.NoticeMapper">
  <!-- 전체조회 내림차순이라서 desc-->
  <select id="selectList" resultType="NoticeVO">
    SELECT * FROM tbl_notice ORDER BY notice_id desc
  </select>
  
  <!-- 한건조회 -->
  <select id="searchOne" resultType="NoticeVO">
    SELECT * FROM tbl_notice where notice_id=#{nid}
  </select>
  
  <!-- 한건등록 -->
  <insert id="insertNotice" parameterType="NoticeVO">
   INSERT INTO tbl_notice (notice_id, notice_writer, notice_title, notice_subject, attach_file)
   VALUES(notice_seq.nextval, #{noticeWriter}, #{noticeTitle}, #{noticeSubject}, #{attachFile})
  </insert> 
  
  <!-- 수정 --> 
  <update id="updateNotice" parameterType="NoticeVO">
   UPDATE tbl_notice
   SET 	notice_title=#{noticeTitle}
   	   ,notice_subject=#{noticeSubject}
   WHERE notice_id=#{noticeId}   	   
  </update>
  
  <!-- 삭제 -->
  <delete id="deleteNotice" parameterType="NoticeVO">
   DELETE FROM tbl_notice WHERE notice_id=#{nid}
  </delete> 
  
  <!-- 0208 7교시 조회수 증가 -->
  <update id="increaseCnt" parameterType="int">
    UPDATE tbl_notice
    SET    hit_count = hit_count + 1
    WHERE notice_id = #{nid}
  </update>

  
  
</mapper>